@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
	font-family: 'Roboto', sans-serif;
}

html,
body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}

.center-vh {
	display: flex;
	align-items: center;
	justify-content: center;
}

.font-14px {
	font-size: 14px;
}