@import url(../css/colors.css);

@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto.ttf);
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Roboto;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-primary);
}

a {
    text-decoration: none;
}

.center-vh {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Components */

.text-on-surface-variant {
    color: var(--md-sys-color-on-surface-variant);
}

.icon {
    border: none;
    background-position: center;
    background-size: cover;
    background-image: var(--icon);
}

.material-button-filled {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--md-sys-color-on-primary);
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 500px;
    border: none;
    background: var(--md-sys-color-primary);
}

.material-button-border {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--md-sys-color-primary);
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 500px;
    border: 1px solid var(--md-sys-color-outline);
    background: var(--md-sys-color-surface);
}

.material-card {
    padding: 20px;
    color: var(--md-sys-color-on-surface);
    font-size: 18px;
    border-radius: 12px;
    background: var(--surface1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}

.form-switch .form-check-input,
.form-switch .form-check-input:focus,
.form-switch .form-check-input:checked {
    outline: 0;
    box-shadow: none;
    height: 24px;
    width: 48px;
    border: 4px solid var(--md-sys-color-primary);
    background-image: url(../assets/svgs/circle.svg);
    background-color: var(--md-sys-color-primary);
}