body{
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 180px;
    height: 180px;
    margin: auto;
    border: 15px solid #8781bd ;
    border-radius: 50%;
    background: url("./assets/icon.png") no-repeat center;
    background-size: contain;
}

.btn {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #8781bd;
    color: 8781bd;
}

.btn:hover{
    border-color: transparent;
    background-color: #8781bd;
}

a{
    text-decoration: none;
    font-size: small;
}

*{
    font-family: 'Open Sans';
}